.root {
	flex: 1;
}
.image {
	width: 100%;
	max-width: 360px;
}

.title {
	margin-bottom: 5px;
	text-align: center;
}

.title,
.content {
	margin-top: 15px;
	overflow: auto;
}

.description {
	/* text-align: justify; */
}

.readMore {
	display: inline-block;
	margin-top: 1em;
}

.readMore :hover {
	text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.imageContainer {
		text-align: center;
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.imageContainer {
		float: left;
		padding: 1em;
		width: 33%;
		max-width: 360px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: val(--md)) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: val(--lg)) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: val(--xl)) {
}
