.root {
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
	/* background-color: var(--color1); */
	color: white;
	border-radius: 0.5em;
}

.link {
	padding: 4px;
	margin: 4px;
	opacity: 0.7;
	color: var(--color1);
}

.link:hover {
	opacity: 1;
}
