.types {
	float: right;
	border: 1px solid gray;
	margin-left: 10px;
	padding: 10px;
	font-size: 0.7rem;
	color: grey;
}
.typeContainer {
	display: flex;
}
.type {
	flex: 10;
	padding-right: 5px;
}
.count {
	flex: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.types {
		margin-top: 1rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: val(--md)) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: val(--lg)) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: val(--xl)) {
}
