@font-face {
	font-family: Comfortaa;
	src: url(/fonts/Comfortaa-Regular.ttf);
}

:root {
	--color1: #0047ab;
	/* 	--sm: 600px;
	--md: 768px;
	--lg: 992px;
	--xl: 1200px; */
}

body {
	padding: 5px;
	margin: auto;
	font-family: Comfortaa;
	max-width: 1024px;
}

a {
	color: var(--color1);
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	font-family: Comfortaa;
}

pre {
	white-space: break-spaces;
	text-align: left;
	font-size: 10px;
}
